@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
